<!-- Describe task in general -->

<p>
    在给定的序列中，第一个元素应变成最后一个元素。空序列或只有一个元素的序列应保持不变。 
</p>

<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>
<!-- Explain input and output values -->
<p>
   <strong>输入：</strong> {% if is_js %}数组{% else %}列表{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong> {% if is_js %}数组<span>(Array)</span>{% else %} 列表<span>(List)</span> 或另一个 Iterable<span>(Iterable)</span> (tuple<span>(tuple)</span>, iterator<span>(iterator)</span>, generator<span>(generator)</span>){% endif %} 。 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>举例说明：</strong>
    </p>


<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

