<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<!-- Describe task in general -->
<p>
    Dans un<span>tableau</span> {% if is_js %}<span></span> <span>(array)</span><span> </span>{% else %} <span>list</span>{% endif %} , le premier élément doit devenir le dernier. Un<span>tableau</span> {% if is_js %}<span></span> vide <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} ou {% if is_js %}<span>tableau</span> <span>(array)</span>{% else %}<span>liste</span> <span>(list)</span>{% endif %} avec un seul élément doit rester le même. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}repl-first.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> {% if is_js %}<span>Tableau</span> <span>(Array)</span>{% else %}<span>Liste</span> <span>(List)</span>{% endif %}.
</p>

<p>
   <strong>Sortie:</strong> {% if is_js %}<span>Tableau</span> <span>(Array)</span>{% else %} Itérable <span>(Iterable)</span>{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>


<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

