<!-- Describe task in general -->

<p>
    Przesuń pierwszy element z danej {% if interpreter.slug == "js-node" %}tablicy (array){% else %}listy{% endif %} na jej koniec. Pusta {% if interpreter.slug == "js-node" %}tablica{% else %}lista{% endif %} lub {% if interpreter.slug == "js-node" %}tablica{% else %}lista{% endif %} zawierająca tylko jeden element powinna pozostać niezmieniona.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Wejście: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}List{% endif %}.
</p>

<p>
    <strong>Wyjście: </strong> {% if interpreter.slug == "js-node" %}Array{% else %}Iterable{% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykład:</strong>
    </p>


<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

