<p style="text-align: center;">
    <img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
</p>

<!-- Describe task in general -->
<p>
    W danej sekwencji pierwszy element powinien stać się ostatnim. Pusta sekwencja lub sekwencja zawierająca tylko jeden element powinna pozostać niezmieniona. 
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}repl-first.svg" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> {% if is_js %}Array{% else %}List{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span>.
</p>

<p>
   <strong>Dane wyjściowe:</strong> {% if is_js %}Array{% else %} List lub inny Iterable (tuple, iterator, generator){% endif %}. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>


<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

